<!doctype html>
<html>
<head>
<title>Finding Factorial of a Number</title>
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/st.css" %}"/>
<body background="{% static "img/maths.png" %}">
<div align="center">
<h1> Enter a number to find the Factorial </h1> 
<script src="{% static "js/fact.js" %}" type="text/javascript"></script></head>
<h3>Number:</h3><input type="text" id="num"><br><br>
<button type="button" onclick="show();">Factorial</button>
<h3>Answer:</h3><input type= "text" id="answer">
</div>
</body>
</html>



